.articleCard {
  border: 2px solid black;

  text-align: center;
  background-color: aqua;
  border-radius: 20px;
}
h1 {
  text-align: center;
}

.pTag {
  text-align: center;
  text-transform: capitalize;
}
.loading {
  text-align: center;
  font-size: 100px;
}
.bodyPara {
  background-color: beige;
}
